/* Center 'Splatoon 2 Armory' Heading*/
h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

/*Make Images Follow These Rules By Default */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}

.BIColumn {
    float:right;
    width: 50%;
    padding: 5px;
}
